<div class="d-flex flex-column align-items-center justify-content-center">
  <h4 class="mb-4">Add a Todo</h4>
  <div>
      <form (ngSubmit)="onSubmit()">
          <div class="form-todo p-3">
              <div class="form-group mb-3">
                  <label for="title">Todo Title</label>
                  <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" placeholder="Enter Todo Title">
              </div>
              <div class="form-group mb-3">
                  <label for="desc">Todo Description</label>
                  <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="desc" placeholder="Todo Description">
              </div>
              <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
              </div>
          </div>
      </form>
  </div>
</div>