<div class="todo-item position-relative p-3">
  <div class="d-flex justify-content-center">
    <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
  </div>
  <div class="d-flex justify-content-center">
    <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(todo)"
           [checked]="!todo.active">
    <label class="form-check-label" for="exampleCheck1">{{ todo.active ? 'Mark as Done' : 'Mark as Incomplete' }}</label>
  </div>
  <button class="delete-icon" (click)="onClick(todo)">
    <i class="fas fa-trash"></i>
  </button>
</div>

