<h2 class="text-center contact-heading">Welcome to Contact us page</h2>

<h3 class="text-center contact-sub">Contact Us</h3>

<div class="form-container m-10">
    <form class="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input type="tel" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" id="mobile" name="mobile" placeholder="Enter your mobile number" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Write the question you want to ask" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>